.menu{display: flex;
    justify-content: space-between;
    padding: 36px 48px;
    border-bottom:solid thin $borde;
    &-box{display: flex;
          width: 200px;
        &-icon1,&-icon2{
            display: block;
            width: 32px;
            height: 32px;
        }
    }
}
.logo-principal{width: 200px;display: none;}
.logo-nav{display: block;width: 100%;cursor: pointer;}
.box-saludo-box-items-puntos{cursor: pointer;}
.menu-burger{
    width: 100px;
    &-icon{
        width: 32px;
        height: 32px;
        float: right;
        cursor: pointer;
    }
}

.title-principal{
    padding: 36px 48px;
    &-titulo{
        font-size: 32px;
        line-height: 40px;
        color: $titulo;
        font-family: $fuente;
        font-weight: 700;
    }
    &-subtitulo{
        font-family: $fuente;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: $sub-titulo;
    }
}
.presupuesto{
    width: 100%;
    margin: 0 auto;
}
.box-saludo{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
    margin: 0 auto;
        &-items{width:60%;border: solid thin $borde;border-radius: 6px;padding: 16px 24px;}
        &-retirar{width: 50%;border: solid thin $borde;border-radius: 6px;padding: 30px 24px;display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;}
        &-recibir{width: 50%;border: solid thin $borde;border-radius: 6px; padding: 30px 24px;display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;}
}

.box-saludo-box-item-box{
    display: flex;
    justify-content: space-between;
}
.box-saludo-box-item-box-hola{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-saludo-box-item-box-nombre{
    font-size: 24px;
    font-family: $fuente;
    font-weight: 700;
    line-height: 32px;
}

.box-saludo-box-item-box-mano{
    font-size: 32px;
    font-weight: 700;
    padding-right: 10px;
    line-height: 40px;
}
.box-saludo-box-item-saldo{
    font-size: 32px;
    font-family: $fuente;
    font-weight: 400;
    letter-spacing: -2.4%;
    padding-top: 25px;
}

.box-saludo-box-items-box{
    display: flex;
    align-items: center;
    &-nombre{
        color: $titulo;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
    }
}

.conten-saludo{
    display: flex;
    width: 40%;
}
.box-saludo-retirar-text1,.box-saludo-recibir-text1{font-family: $fuente;padding-top: 10px;}

.box-saludo-recibir-circulo{
    background: $retira;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-saludo-recibir-icon1,
.box-saludo-retirar-icon1{width: 40px;height: 40px;display: block;}

.presupuesto{display: flex;
            flex-wrap: wrap;
            gap: 18px;
            margin-top: 20px;
      &-box{
       width: 468px;
       height: 162px;
       border: solid thin $borde;
       border-radius: 6px;
       padding: 24px;
       &-box{
        display: flex;
        font-family: $fuente;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &-itembox{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $ico-ahorro;
            margin-right: 4px;
        }
        &-subtitle{
            font-size: 12px;
            font-family: $fuente;
            color: $sub-titulo;
        }
        &-title{
            font-size: 18px;
            font-family: $fuente;
            font-weight: 600;
            line-height: 24px;
        }
      }
    }
}

.box-progreso{
    &-contadores{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        &-cantida{
            font-size: 18px;
            color: $barra-progreso;
            font-family: $fuente;
        }
        &-porcentaje{
            font-size: 18px;
            color: $titulo;
            font-family: $fuente;
        }
    }
    
}

.box-progreso-contadores-cantida span{
    font-size: 12px;color: $sub;
    font-family: $fuente;
}

.box-progreso-box{
    height: 10px;
    border-radius: 6px;
    background: $barra;
    margin-top: 15px;
}

.box-progreso-box-barra1,
.box-progreso-box-barra2,
.box-progreso-box-barra3,
.box-progreso-box-barra4,
.box-progreso-box-barra5,
.box-progreso-box-barra6{
    height: 10px;
    width: 30%;
    display: block;
    border-radius: 6px;
    background: $barra-progreso;
}

.box-progreso-box-barra2{
    width: 50%;
}
.box-progreso-box-barra3{
    width: 70%;
}
.box-progreso-box-barra4{
    width: 30%;
}
.box-progreso-box-barra5{
    width: 90%;
}
.box-progreso-box-barra6{
    width: 20%;
}

.box-nuevoahorro{
    border: solid thin $borde;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 23px 0;
    background: $borde;
    cursor: pointer;
    &-box{ 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &-circulo{width: 40px;height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $barra-progreso;
            color: #fff;
            border-radius: 50%;
        }
        &-titulo{
            font-size: 18px;
            font-family: $fuente;
            margin-top: 10px;
        }
    }
    
}
